<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/search.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(infoMessage) { %>
            <div class="user-message"><%=infoMessage %> </div>
            <% } %>

        <% if(products.length > 0) { %>
            
                <div id="wrap">
                    <form action="/admin/products" method="get" >
                    <input id="search" name="search" type="text" maxlength="40" placeholder="Pretraga proizvoda..." required>
                    <input id="search_submit" value="pretraga" type="submit">
                    </form>
                  </div>
            
        <div class="grid">
            <% for (product of products) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="<%= product.imageUrl %>" alt="">
                </div>
                <div class="card__content">
                    <h2 class="product__price"><%= product.price  %> KM</h2>
                    <p class="product__short-description"><%= product.shortDescription %></p>
                </div>
                <div class="card__actions">
                    <a class="btn" href="/admin/edit-product/<%= product.id %>">Izmjeni</a>
                    <form action="/admin/delete-product" method="POST">
                        <button class="btn-cancel" type="submit"
                            onclick="return confirm('Jeste li sigurni da želite izbrisati proizvod?');">Izbriši</button>
                        <input name="productId" type="hidden" value="<%= product.id %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </div>
            </article>
            <% } %>
        </div>
        <%- include('../includes/pagination.ejs',{currentPage:currentPage, nextPage:nextPage, previousPage:previousPage, hasNext:hasNext, hasPreviousPage:hasPreviousPage, lastPage:lastPage}) %>

        <% } else { %>
        <h1 class="centered">Nisu pronađeni proizvodi.</h1>
        <% } %>
    </main>
    <%- include('../includes/footer.ejs') %>