
   <footer class="site-footer">
    <div class="grid">
           
    <div>
        <h6>Kontakt</h6>
       <div class="icons">
<div class="phone-icon"></div> Broj telefona: <%= phoneNumber %>
</div>
<div class="icons">
  <div class="mail-icon"></div> Email: <%= shopEmail %>
  </div>
  <div class="icons">
    <div class="location-icon"></div> Adresa: <%= address %>
    </div>
  </div>
    <div>
    <ul class="social-icons">
      <li><a class="facebook-icon" href="<%= facebook %>" title="facebook"></a></li>
      <li><a class="instagram-icon" href="<%= instagram %>" title="instagram"></a></li>   
    </ul>
    </div>
   
     
      
    </div>
    <hr>
 
          <div class="copyright-text">Copyright &copy; <%= new Date().getFullYear() %>  
       <a href="<%= myLink %>">Nikola</a>.
          </div>
        

</footer>

</div>
<script src="/js/main.js"></script>
</body>

</html>